body {
  background-color: rgba(220, 20, 60, 0.877);
}
.border {
  border: 1px solid;
}
.calculate-btn {
  background-color: cyan;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 105px;
  margin-bottom: 5px;
}
.save-input {
  width: 100px;
}
.save-btn {
  background-color: cyan;
  width: 120px;
  height: 27px;
}
.ml {
  margin-left: 90px;
}

.save-remaining {
  margin-left: 70px;
}
.parent-div {
  background-color: rgba(128, 128, 128, 0.438);
  width: 70%;
  text-align: center;
  border-radius: 10px;
}
